// More info here: https://cloud.ibm.com/catalog/services/speech-to-text
// REMOVE .example BEFORE USING

{
    "apikey": "<WATSON SPEECH-TO-TEXT API KEY HERE",
    "iam_apikey_description": "<WATSON SPEECH-TO-TEXT API KEY DESCRIPTION HERE>
    "iam_apikey_name": "<WATSON SPEECH-TO-TEXT APIKEY NAME HERE>",
    "iam_role_crn": "<WATSON SPEECH-TO-TEXT APIKEY ROLE HERE>",
    "iam_serviceid_crn": "<WATSON SPEECH-TO-TEXT APIKEY SERVICE ID HERE>",
    "url": "<WATSON SPEECH-TO-TEXT APIKEY URL HERE>"
  }
